<div id="<%= dom_id visitor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Full name:</strong>
    <%= visitor.full_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= visitor.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Residential address:</strong>
    <%= visitor.residential_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= visitor.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= visitor.comment %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this visitor", visitor, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this visitor", edit_visitor_path(visitor), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
